@using AdminApplication.Models.DTO
@using AdminApplication.Models.Enums
@model ClientsListDto

<div class="my-4">
    <div class="d-flex justify-content-between">
        <h4 class="mb-4">Регистрирани клиенти</h4>
    </div>

    <form method="get" asp-action="Index">
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex w-50">
                <input type="text" name="searchTerm" class="form-control me-2 w-75" placeholder="@(Model.SearchTerm ?? "Пребарај по име или емаил на клиент")" value="@Context.Request.Query["search"]" />
                <button type="submit" name="action" class="btn btn-dark w-25">
                    <i class="bi bi-search"></i> Пребарај
                </button>
            </div>

            <div class="w-25">
                <select class="form-control" name="selectedIndustry" onchange="this.form.submit()">
                    <option vlaue="" selected disabled>---Селектирај индустрија---</option>
                    <option value="">Сите</option>
                    @foreach (var industry in Enum.GetValues(typeof(Industry)))
                    {
                        <option value="@industry" selected="@(Model.SelectedIndustry == (Industry)industry ? "selected" : null)">
                            @industry.ToString()
                        </option>
                    }
                </select>
            </div>
        </div>      
    </form>

    <table class="table table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th class="fw-bold">Име</th>
                <th class="fw-bold">Е-маил</th>
                <th class="fw-bold">Индустрија</th>
                <th class="fw-bold">Број на проекти</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr onclick="location.href='@Url.Action("Details", new { clientId = client.Id })'">
                    <td>@client.User.FirstName @client.User.LastName</td>
                    <td>@client.User.Email</td>
                    <td>@client.Industry</td>
                    <td>@(client.Projects?.Count ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
