@model List<TTS.Domain.DTO.GetProjectDto>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row justify-content-between mb-2 mt-4 container-fluid px-5">
    <h3 class="text-capitalize"><i class="bi bi-book"></i> My Projects</h3>

    @if (User.IsInRole("Client"))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle-dotted"></i> Create New</a>
        </p>
    }

</div>

<div class="container-fluid px-5">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-secondary">View Details</th>
                        <th class="text-secondary"><i class="bi bi-bookmark"></i> Project</th>
                        <th class="text-secondary">Status</th>
                        <th class="text-secondary">Total activites</th>
                        <th class="text-secondary">Due date</th>
                        <th class="text-secondary">Responsibles</th>
                        @if(User.IsInRole("Consultant")){
                            <th class="text-secondary">Total hours</th>
                            <th class="text-secondary">My Activites</th>
                        }

                        <th class="text-secondary">Delete Project</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var project in Model)
                    {
                        <tr class="">
                            <td>@(Model.IndexOf(project)+1)</td>
                            <td>
                                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Project.Id" class="btn btn-outline-secondary text-info fw-medium">
                                    <i class="bi bi-search text-dark pe-2"></i> Details
                                </a>
                            </td>
                            <td class="fw-medium bg-secondary-subtle">@project.Project.Title</td>

                        @switch (project.Project.Status)
                        {
                            case TTS.Domain.Enum.ProjectStatus.New:
                                <td class="text-center text-info">@project.Project.Status.ToString()</td>
                                break;                            
                            case TTS.Domain.Enum.ProjectStatus.InProgress:
                                <td class="text-center text-warning">@project.Project.Status.ToString()</td>
                                break;
                            case TTS.Domain.Enum.ProjectStatus.Invalid:
                                <td class="text-center text-danger">@project.Project.Status.ToString()</td>
                                break;
                            case TTS.Domain.Enum.ProjectStatus.Completed:
                                <td class="text-center text-success">@project.Project.Status.ToString()</td>
                                break;
                        }
                            <td class="text-end">@project.TotalActivites</td>
                            <td class="text-end">@(project.EndDate.GetValueOrDefault().ToShortDateString() ?? "-")</td>
                            <td class="text-end">@project.NumConsultants</td>
                            @if (User.IsInRole("Consultant"))
                            {
                                <td class="text-end">@project.TotalHours</td>
                                <td class="text-end">@project.NumOfConsultantActivites</td>
                            }
                            <td class="text-end">
                                <a asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Project.Id" class="btn btn-outline-secondary text-danger fw-medium">
                                    <i class="bi bi-trash3 align-self-center me-2"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

