@model IEnumerable<TTS.Domain.DTO.GetProjectDto>

@{
    ViewData["Title"] = "Index";
}



<div class="container-fluid mx-5">
    <div class="d-flex flex-row justify-content-between mb-5 mt-4">
        <h1 class="text-capitalize"> <i class="bi bi-book"></i> All Projects</h1>
    </div>
    <div class="row d-flex flex-row px-2">
        @foreach (var item in Model)
        {
            <div class="col-3 card border-3 border-warning-subtle me-5 mb-5" style="width: 30rem;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-4">
                            <img class="img-thumbnail rounded border border-3" src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_640.jpg" />
                        </div>
                        <div class="col-8">
                            <h5 class="card-title truncate-two-rows">@Html.DisplayFor(modelItem => item.Project.Title)</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary truncate-one-row">@Html.DisplayFor(modelItem => item.Project.Expertise)</h6>
                            @switch (item.Project.Status)
                            {
                                case TTS.Domain.Enum.ProjectStatus.New:
                                    <h6 class="card-subtitle mb-2 text-success text-info">@Html.DisplayFor(modelItem => item.Project.Status)</h6>
                                    break;
                                case TTS.Domain.Enum.ProjectStatus.InProgress:
                                    <h6 class="card-subtitle mb-2 text-success text-warning">@Html.DisplayFor(modelItem => item.Project.Status)</h6>
                                    break;
                                case TTS.Domain.Enum.ProjectStatus.Invalid:
                                    <h6 class="card-subtitle mb-2 text-success text-danger">@Html.DisplayFor(modelItem => item.Project.Status)</h6>
                                    break;
                                case TTS.Domain.Enum.ProjectStatus.Completed:
                                    <h6 class="card-subtitle mb-2 text-success text-success">@Html.DisplayFor(modelItem => item.Project.Status)</h6>
                                    break;
                            }
                        </div>
                    </div>

                    <p class="card-text truncate-three-rows mb-4">
                        @Html.DisplayFor(modelItem => item.Project.Description)
                    </p>
                    <div class="d-flex flex-row justify-content-between align-itmes-center">
                        <div class="d-flex flex-row">
                            <p class="card-link align-self-center me-2">Total Hours: </p><p>@Html.DisplayFor(modelItem => item.Project.TotalHours)</p>
                        </div>

                        <div class="d-flex flex-row">

                                <form asp-controller="Projects" asp-action="ApplyForProject" asp-route-id="@item.Project.Id" method="post">
                                    <button type="submit" disabled="@item.Disabled" class="card-link btn btn-outline-info btn-secondary text-info d-flex me-2">
                                    <i class="bi bi-pencil align-self-center me-2"></i> Apply
                                    </button>
                                </form>
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Project.Id" class="btn btn-outline-warning  d-flex">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

