@using TTS.Domain.Enum
@model TTS.Domain.DTO.ProjectDetailsDto

@{
    ViewData["Title"] = "Details";
}


<nav class="navbar navbar-expand-lg bg-body-secondary border-bottom border-warning shadow-lg mb-5">
        <div class="container-fluid">
        <div class="navbar-brand truncate-one-row fw-bold fs-5" style="width: 23%; display: block">
            
            @Model.Project.Title
        </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fs-5" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a 
                        asp-controller="Projects" 
                        asp-action="Details" 
                        asp-route-id="@Model.Project.Id" 
                        class="nav-link active bg-warning fw-bold"
                    >
                        Детали
                    </a>
                    <a
                        asp-controller="Activities" 
                        asp-action="Index" 
                        asp-route-projectId="@Model?.Project.Id" 
                        asp-route-projectTitle="@Model?.Project.Title" 
                        class="nav-link fw-medium"
                    >
                       Активности
                    </a>
                </div>
            </div>
        </div>
    </nav>

<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="me-2">
                <a asp-action="MyProjects" class="btn btn-outline-warning border border-2 border-warning"><i class="bi bi-arrow-left fw-bolder"></i></a>
            </div>
            <h3>@Model!.Project.Title</h3>
        </div>

        @if (User.IsInRole("Client"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Project.Id" class="btn btn-outline-primary">Промени</a>
        }

    </div>


    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Expertise)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Expertise)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Status)
            </dt>
            <dd class="col-sm-10 text-@(Model?.Project.Status == TTS.Domain.Enum.ProjectStatus.New ? "info" :
                Model?.Project.Status == TTS.Domain.Enum.ProjectStatus.InProgress ? "warning" :
                Model?.Project.Status == TTS.Domain.Enum.ProjectStatus.Invalid ? "danger" :
                "success")">
                <form asp-action="ChangeStatus" asp-controller="Projects" asp-route-projectId="@Model?.Project.Id" method="post" class="d-flex w-25">
                    <select name="status" class="form-select me-2" disabled="@(User.IsInRole("Client"))">
                        <option value="">-- Избери статус --</option>
                        @foreach (var status in Html.GetEnumSelectList<ProjectStatus>())
                        {
                            var selected = Model.Project.Status == (ProjectStatus)Enum.Parse(typeof(ProjectStatus), status.Value) ? true : false;
                            <option value="@(status.Value)" selected="@selected">@status.Text</option>
                        }
                    </select>
                    @if (User.IsInRole("Consultant"))
                    {
                        <button type="submit" class="btn btn-success">Зачувај</button>
                    }
                </form>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.StartDate)
            </dt>
            <dd class="col-sm-10">
                @(Model!.Project.StartDate.ToLongDateString())
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.EndDate)
            </dt>
            <dd class="col-sm-10">
                @(Model.Project.EndDate == null ? "-" : Model.Project.EndDate.GetValueOrDefault().ToLongDateString())
            </dd>
            <dt class="col-sm-2">
                    Одговорни
            </dt>
            @if (Model.Responsibles!.Any())
            {
                @foreach (var responsible in Model.Responsibles!)
                {
                <dd class="col-sm-10">
                        @responsible.User.FirstName @responsible.User.LastName (@responsible.User.UserName)
                </dd>
                }
            }
            @if (Model.TotalHours > Model.TotalExpectedHours)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle-fill me-3"></i>
                    Проектот ги надминува очекуваните работни саати за @((Model.TotalHours - Model.TotalExpectedHours) / 24) денови и @((Model.TotalHours - Model.TotalExpectedHours) % 24) часови!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </dl>


    </div>

    @if (User.IsInRole("Client"))
    {
        <div class="mt-5">

            @if (Model.Applications != null && Model.Applications.Any())
            {
                <h4 class="text-secondary">Апликации</h4>
                <div class="list-group mt-3">
                    @foreach (var application in Model!.Applications)
                    {
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <h5>@application.Consultant!.User.FirstName @application.Consultant.User.LastName</h5>
                                <p>Username: @application.Consultant.User.UserName</p>
                                <p>Expertise: @application.Consultant.Expertise</p>
                            </div>

                            <div class="d-flex">
                                <form method="post" asp-action="AcceptApplication" asp-route-applicationId="@application.Id" class="me-2">
                                    <input hidden name="projectId" value="@Model.Project.Id"/>
                                    <button class="btn btn-success me-2" type="submit">
                                        Одобри
                                    </button>
                                </form>

                                <form method="post" asp-action="RejectApplication" asp-route-applicationId="@application.Id">
                                    <input hidden name="projectId" value="@Model.Project.Id" />
                                    <button class="btn btn-danger me-2" type="submit">
                                        Одбиј
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6 text-center p-4 border border-secondary border-dashed rounded-3 bg-light">
                        <i class="fas fa-tasks" style="font-size: 50px; color: #999;"></i>
                        <h2 class="mt-3 text-muted">Нема апликации</h2>
                     
                            <p class="text-secondary">
                                Консултантите кои ќе аплицираат за работа на проектот ќе бидат прикажани тука!
                            </p>
                        

                    </div>
                </div>
            }
        </div>
    }

</div>


